.display-cards-container {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 1.5rem;
}

.bottom-main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 1.5rem;
}

.image-banner {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  padding-right: 0;
}

.image-desktop-only {
  display: none;
}

.student-image {
  border-radius: 16px;
  border: 4px solid var(--primary);
}

/** Middle Section **/
.middle-main {
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}



.section-child:nth-of-type(2) {
  margin-top: 2rem;
}

.top-cta-btn {
  margin-top: 2rem;
}

.top-cta-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.top-cta-container>.btn:nth-of-type(2) {
  margin-top: 1rem;
}

.top-main {
  max-width: 1260px;
  margin: 0 auto;
  min-height: 540px;
  display: flex;
  align-items: center;
  padding: 1rem;
  flex-direction: column;
  text-align: center;
}

.request-form {
  max-width: 300px;
}

@media screen and (min-width: 560px) {
  .display-cards-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1rem;
  }

  .image-desktop-only {
    display: flex;
    flex-direction: column;
  }

  .middle-main {
    text-align: left;
    display: flex;
    flex-direction: row;
    max-width: 1280px;
    margin: 0 auto;
  }

  .middle-main-left {
    padding-right: 1.5rem;
    margin-top: 4rem;
  }

  .phone-image {
    margin-bottom: 1.5rem;
  }

  .request-form {
    max-width: 640px;
  }

  .section-child:nth-of-type(1) {
    margin-top: 7rem;
  }

  .student-image {
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 16px;
    border: 4px solid var(--primary);
  }

  .top-cta-container {
    display: flex;
    flex-direction: row;
    padding: 1rem 0;
  }

  .top-cta-container>.btn:nth-of-type(1) {
    margin-right: 1rem;
  }

  .top-cta-container>.btn:nth-of-type(2) {
    margin-top: 0;
  }

  .top-main {
    padding: 8rem 0;
    flex-direction: row;
    text-align: left;
  }

  .top-main-child {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}