.main {
    background: url('../../assets/hero-bg.png');
    background-size: cover;
    width: 100%;
    min-height: 100vh;
}

.contentContainer {
    margin-inline: 1.5rem;
    max-width: 856px;
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.content {
    background: var(--white);
    border-radius: 30px;
    width: 100%;
    margin-top: 2.5rem;
    padding: 38px 16px;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    font-size: 24px;
}

.text {
    text-align: center;
    max-width: 525px;
}

.img {
    width: 45px;
    height: 45px;
}

.footNote {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}

.mainClass {
    max-width: 500px;
}

.btn {
    max-width: 280px;
}

@media screen and (max-width:320px) {
    .header {
        font-size: 16px;
    }

    .text {
        font-size: 14px;
    }

    .btn {
        width: 200px;
    }
}

@media screen and (min-width: 856px) {
    .contentContainer {
        margin-inline: auto;
    }

    .content {
        margin-top: 5.5rem;
        gap: 2rem;
    }

    .img {
        width: 96px;
        height: 96px;
    }

    .btn {
        max-width: 100%;
    }

    .header {
        font-size: 36px;
    }

    .text {
        font-size: 20px;
    }
}