.container {
  width: 100%;
  max-width: 854px;
  height: 677px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: #fff;
  box-shadow: 0px 30px 40px 0px rgba(7, 109, 243, 0.05);
}

.img {
  width: 79px;
  height: 79px;
}

.headText {
  color: var(--Edustipend-Text-Black, #2d3740);
  font-family: 'Poppins';
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 136.5%; /* 49.14px */
  margin-top: 10px;
}

.subText {
  color: var(--Edustipend-Text-Black, #2d3740);
  text-align: center;
  font-family: 'Manrope';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
  margin-bottom: 10px;
}

.form {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 40px;
  padding: 0 7px;
}

.error,
.success {
  color: red;
  text-align: center;
  font-family: 'Manrope';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  margin-top: -30px;
  margin-bottom: 30px;
}

.success {
  color: green;
}

.lastText {
  color: var(--Edustipend-Text-Black, #2d3740);
  text-align: center;
  font-family: 'Manrope';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 187.5% */
  margin-top: 28px;
}

@media only screen and (max-width: 450px) {
  .img {
    width: 54px;
    height: 54px;
  }

  .headText {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .subText {
    width: 200px;
    font-feature-settings:
      'clig' off,
      'liga' off;
    font-family: 'Manrope';
    font-size: 16px;
    line-height: 20px; /* 125% */
  }
}
