.container {
  width: 100%;
  padding: 30px 0px 0px;
}

.wrapper {
  padding: 90px 0;
}

.headerWrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
  margin-top: 32px;
}

.partnerWrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
  /* margin-top: 32px; */
}

.partnerWrap h1 {
  color: var(--white);
  font-size: 32px;
}

.headerWrap h1 {
  font-size: 32px;
  font-family: 'Poppins';
  font-weight: 600;
  letter-spacing: 5%;
  color: var(--edustipend-black);
}

.headerWrap p {
  font-size: 16px;
  font-family: 'Manrope';
  width: 100%;
  color: var(--edustipend-black);
  font-weight: 400;
  text-align: left;
  line-height: 24px;
}

.partnerWrap p {
  font-size: 18px;
  font-family: 'Manrope';
  width: 80%;
  color: var(--white);
  font-weight: 400;
  text-align: center;
  line-height: 24px;
}

.bgContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('/src/assets/partnerwithus.png');
  background-size: cover;
  background-position: center;
  margin-top: 40px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.partnerText {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.cta {
  margin-top: 20px;
}


@media only screen and (min-width: 650px) {
  .headerWrap {
    gap: 0px;
  }

  .headerWrap h1 {
    font-size: 48px;
  }

  .headerWrap p {
    font-size: 20px;
    line-height: 28px;
  }
}

@media only screen and (min-width: 768px) {
 

  .partnerWrap h1 {
    font-size: 48px;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    padding: 100px 30px 70px;
  }
  .wrapper {
    padding: 50px 0;
  }

  .partnerWrap {
    height: 514px;
    width: 100%;
  }

  .partnerWrap h1 {
    font-size: 60px;
  }

  .partnerWrap p {
    width: 62%;
  }
}
@media only screen and (min-width: 1440px) {
  .partnerWrap {
    height: 614px;
  }
}
