.container {
  margin-inline: 1rem;
  max-width: 1510px;
}

.containerAlt {
  max-width: 1200px;
}

@media screen and (min-width: 1200px) {
  .containerAlt {
    margin-inline: auto;
  }
}

@media screen and (min-width: 1530px) {
  .container {
    margin-inline: auto;
  }
}
