.takeoffburden-container {
  background-color: #2d3740;
  padding: 50px 28px;
}

.takeoffburden-Wrapper {
  position: relative;
  margin-top: 150px;
}

.takeoffburdenleft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.takeoffburden-Card {
  background-image: url('../../assets//manonbooks.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 300px;
  height: 370px;
  margin: -50px 28px;
  border-radius: 30px;
  position: absolute;
  top: -50px;
  z-index: 999;
}

.takeoffburden-Transparent-Card {
  background-color: #ffffff;
  width: 340px;
  height: 300px;
  border-radius: 30px;
  opacity: 0.1;
  box-shadow: rgba(0, 0, 0, 0.94) 0px 3px 8px;
}

.takeoffburdenright > h2 {
  font-family: 'poppins';
  color: #ffffff;
  font-size: 32px;
  font-weight: 600;
  margin-top: 20px;
  line-height: 30px;
  text-align: center;
}

.takeoffburdenright > p {
  font-family: 'Manrope';
  color: #ffffff;
  font-size: 16px;
  font-weight: lighter;
  margin: 20px auto;
  line-height: 25px;
  text-align: center;
  width: 78%;
}

.takeoffburden-request {
  padding: 0px 28px 50px;
  text-align: center;
  margin-top: 50px;
  color: white;
}

.burdenarrow {
  position: absolute;
  bottom: 85px;
  right: 25px;
}

.request-stipend-btn-div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.request-stipend-btn {
  color: #2d3740;
  font-family: 'Manrope';
  font-weight: 700;
  font-size: 18px;
  width: 100%;
  margin-top: 40px;
}


@media screen and (min-width: 600px){
  .burdenarrow {
    position: absolute;
    bottom: 55px;
    right: 125px;
  }
}

@media screen and (min-width: 768px) {
  .takeoffburden-container {
    padding: 50px 0px;
  }

  .takeoffburden-Wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 350px;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .takeoffburdenleft {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: left;
  }

  .takeoffburdenright {
    margin-top: -200px;
    position: relative;
  }

  .takeoffburden-Transparent-Card {
    width: 400px;
    height: 200px;
    margin: 20px 14px;
  }

  .takeoffburden-Card {
    width: 350px;
    height: 500px;
    top: -260px;
  }

  .takeoffburdenright > h2 {
    text-align: left;
    font-size: 35px;
    line-height: 50px;
    margin: -100px 0 0 0;
  }
  .takeoffburdenright > p {
    text-align: left;
    margin: 10px 0 10px 0;
    font-size: 14px;
  }

  .request-stipend-btn-div {
    width: 100%;
    display: flex;
    justify-content: left;
  }

  .takeoffburden-request {
    text-align: left;
    padding: 0px 0px 50px;
  }

  .burdenarrow {
    position: absolute;
    bottom: 70px;
    left: 170px;
  }
}

@media screen and (min-width: 1024px) {
  .takeoffburden-Wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 230px;
    align-items: center;
    justify-content: center;
  }

  .takeoffburdenleft {
    display: flex;
    width: 50%;
  }

  .takeoffburdenright {
    margin-top: -120px;
    position: relative;
    width: 50%;
  }

  .takeoffburden-Transparent-Card {
    width: 400px;
    height: 250px;
    margin: 20px 14px;
  }

  .takeoffburden-Card {
    width: 350px;
    height: 450px;
    top: -160px;
    margin: -50px 38px;
  }

  .takeoffburdenright > h2 {
    text-align: left;
    font-size: 45px;
    width: 80%;
    line-height: 50px;
  }
  .takeoffburdenright > p {
    text-align: left;
    width: 45%;
    margin-top: 30px;
  }
  .request-stipend-btn-div {
    width: 100%;
    display: flex;
    justify-content: left;
  }
  .takeoffburden-request {
    text-align: left;
    padding: 0px 0px 50px;
  }

  .burdenarrow {
    position: absolute;
    bottom: 70px;
    left: 180px;
  }
}

@media screen and (min-width: 1200px) {
  .takeoffburden-Transparent-Card {
    width: 500px;
    height: 350px;
    margin: 50px 14px;
  }

  .takeoffburden-Card {
    width: 400px;
    height: 550px;
    padding: 90px 38px;
  }

  .takeoffburdenright > h2 {
    width: 70%;
    font-size: 50px;
    line-height: 60px;
  }

  .takeoffburdenright > p {
    width: 50%;
    font-size: 18px;
    line-height: 30px;
  }

  .burdenarrow {
    position: absolute;
    bottom: 70px;
    left: 260px;
    
  }
}
