.takeoffburden-container {
  background-image: url('../../assets/takeoffburdenBG.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0px;
}

.takeoffburden-Wrapper {
  position: relative;
  margin-top: 150px;
}

.takeoffburdenleft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.takeoffburden-Card {
  background-image: url('../../assets//manonbooks.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 260px;
  height: 370px;
  margin: -50px 28px;
  border-radius: 30px;
  position: absolute;
  top: -50px;
  z-index: 999;
}

.takeoffburden-Transparent-Card {
  background-color: #ffffff;
  width: 290px;
  height: 300px;
  border-radius: 30px;
  opacity: 0.1;
  box-shadow: rgba(0, 0, 0, 0.94) 0px 3px 8px;
}

.takeoffburdenright > h2 {
  font-family: 'poppins';
  color: #ffffff;
  font-size: 32px;
  font-weight: 600;
  margin-top: 30px;
  line-height: 30px;
  text-align: center;
}

.takeoffburdenright > p {
  font-family: 'Manrope';
  color: #ffffff;
  font-size: 16px;
  font-weight: lighter;
  margin: 15px auto;
  line-height: 25px;
  text-align: center;
  width: 100%;
}

.burdenarrow {
  position: absolute;
  bottom: 95px;
  right: 15px;
  height: 30px;
}

.request-stipend-btn-div {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 50px 0 20px;
}

@media screen and (min-width: 425px){
  .takeoffburdenright > h2 {
    margin: 20px auto;
    width: 70%;
  }
  .takeoffburdenright > p {
    width: 60%;
  }
  .burdenarrow {
    position: absolute;
    bottom: 85px;
    right: 50px;
  }
}

@media screen and (min-width: 600px) {
  .takeoffburdenright > h2 {
    margin: 20px auto;
    width: 60%;
  }
  .takeoffburdenright > p {
    width: 50%;
  }

  .burdenarrow {
    position: absolute;
    bottom: 85px;
    right: 125px;
  }

  .takeoffburden-Transparent-Card {
    width: 350px;
    height: 330px;
  
  }

  .takeoffburden-Card {
    width: 300px;
    height: 400px;
    
  }

}

@media screen and (min-width: 768px) {
  .takeoffburden-container {
    padding: 50px 0px;
  }

  .takeoffburden-Wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 350px;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .takeoffburdenleft {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: left;
  }

  .takeoffburdenright {
    margin-top: -200px;
    position: relative;
  }

  .takeoffburden-Transparent-Card {
    width: 350px;
    height: 200px;
    margin: 20px 14px;
  }

  .takeoffburden-Card {
    width: 300px;
    height: 500px;
    top: -260px;
  }

  .takeoffburdenright > h2 {
    text-align: left;
    font-size: 48px;
    line-height: 50px;
    margin: -100px 0 0 0;
    width: 80%;
  }
  .takeoffburdenright > p {
    text-align: left;
    margin: 20px 0 10px 0;
    font-size: 18px;
    width: 80%;
  }

  .request-stipend-btn-div {
    width: 100%;
    display: flex;
    justify-content: left;
    margin-top: 40px;
  }


  .burdenarrow {
    position: absolute;
    bottom: 100px;
    left: 250px;
  }
}

@media screen and (min-width: 1024px) {
  .takeoffburden-Wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 230px;
    align-items: center;
    justify-content: center;
  }

  .takeoffburdenleft {
    display: flex;
    width: 50%;
  }

  .takeoffburdenright {
    margin-top: -120px;
    position: relative;
    width: 50%;
  }

  .takeoffburden-Transparent-Card {
    width: 400px;
    height: 250px;
    margin: 20px 14px;
  }

  .takeoffburden-Card {
    width: 350px;
    height: 450px;
    top: -160px;
    margin: -50px 38px;
  }

  .takeoffburdenright > h2 {
    text-align: left;
    font-size: 48px;
    width: 85%;
    line-height: 50px;
  }
  .takeoffburdenright > p {
    text-align: left;
    width: 60%;
    margin-top: 30px;
    font-size: 18px;
  }
  .request-stipend-btn-div {
    width: 100%;
    display: flex;
    justify-content: left;
    margin-top: 40px;
  }

  .burdenarrow {
    position: absolute;
    bottom: 100px;
    left: 250px;
  }
}

@media screen and (min-width: 1200px) {
  .takeoffburden-Transparent-Card {
    width: 500px;
    height: 400px;
    margin: 50px 14px;
  }

  .takeoffburden-Card {
    width: 400px;
    height: 600px;
    padding: 90px 38px;
  }

  .takeoffburdenleft {
    width: 50%;
  }
  .takeoffburdenright {
    width: 40%;
  }

  .takeoffburdenright > h2 {
    font-size: 64px;
    line-height: 60px;
  }

  .takeoffburdenright > p {
    width: 70%;
    font-size: 20px;
    line-height: 30px;
  }

  .burdenarrow {
    position: absolute;
    bottom: 100px;
    left: 260px;
  }
}

@media screen and (min-width: 1440px) {
  .takeoffburdenright > h2 {
    width: 100%;
  }
  
  
}
