/** Brand Colors **/
:root {
  --accent: #ff914d;
  --edustipend-yellow: #febd1c;
  --edustipend-purple: #5800ff;
  --primary: #5800ff;
  --primaryHover: #3700a1;
  --primaryDark: #270072;
  --lightblue: #e4edff;
  --white: #ffffff;
  --navy-blue: #2d3740;
  --overlay: #110130;
  --darkerWhite: #F5F5F5;
}

.background-lightblue {
  background-color: var(--lightblue);
}

.color-accent {
  color: var(--accent);
}

.color-primary {
  color: var(--primary);
}