/** Brand Colors **/
:root {
  --accent: #ff914d;
  --edustipend-black: #2d3740;
  --edustipend-yellow: #febd1c;
  --edustipend-purple: #5800ff;
  --edustipend-turquioise: #cbffff;
  --primary: #5800ff;
  --primaryHover: #3700a1;
  --primaryDark: #270072;
  --lightblue: #e4edff;
  --white: #ffffff;
  --navy-blue: #2d3740;
  --overlay: #110130;
  --darkerWhite: #F5F5F5;
  --red-accent: #f20b07;
  --darker-navy-blue: #2d374033;
  --darker-accent: #1b1b1b4d;
  --light-gray: #f2f2f2;
}

.background-lightblue {
  background-color: var(--lightblue);
}

.color-accent {
  color: var(--accent);
}

.color-primary {
  color: var(--primary);
}