.testimonial-bkg-wrapper {
  background: radial-gradient(ellipse, #ffca43c7, #000000);
}

.testimonial__testimonies-container {
  overflow-x: auto;
  white-space: wrap;
  display: flex;
  justify-content: center;
  gap: 10px;
  scroll-behavior: smooth; /* Enable smooth scrolling */
  transition: transform 0.3s ease-in-out;
}

.testimonial__testimonies-container::-webkit-scrollbar {
  width: 1px; /* Adjust the width as needed */
  display: none;
}

.testimonial__section {
  padding: 50px;
  color: #fff;

  position: relative;
}

.testimonial__heading {
  font-size: 34px;
  margin-top: 20px;
  padding-bottom: 15px;
  text-transform: uppercase;
  border-bottom: 3px solid orange;
}

.testimonial__description {
  margin: 40px 0;
  font-size: 25px;
  line-height: 1.5;
}

.testimonial__support-link {
  margin: 15px 0;
  color: #333;
  font-weight: 900;
  display: inline-block;
  padding: 15px 40px;
  background-color: orange;
  border-radius: 50px;
  text-decoration: none;
  border: 5px solid rgba(0, 0, 0, 0.3);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.testimonial__testimonies {
  width: 100%;
  margin-top: 100px;
  scroll-behavior: smooth; /* Enable smooth scrolling */
  transition: transform 0.3s ease-in-out;
}

.slick-prev:before {
  background-color: orange;
  padding: 10px;
  border-radius: 6px;
  font-size: 1rem; /*Adjust the font size as needed */
  cursor: pointer;
  color: #333;
}

/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;

  position: absolute;
  top: 50%;

  display: block;

  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);

  cursor: pointer;

  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;

  background-color: orange;
  padding: 10px;
  border-radius: 6px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -15px !important;
  z-index: 10 !important;
}

.slick-prev:before {
  content: '←';
}

.slick-next {
  right: 5px !important;
}

.slick-next:before {
  content: '→';
}
