.testimonial__card {
  padding: 25px;
  background-color: #fff;
  color: #333;

  border-radius: 25px;

  margin: 0 auto;

  width: 400px;
  height: fit-content;
}

.testimonial__card-header {
  display: flex;
  justify-content: space-between;
}

.testimonial__card-header--user-profile {
  /* background-color: orange; */
  display: flex;
  gap: 10px;
  align-items: center;
  /* width: 100%;
    height: 50px; */
}

.user-profile--image {
  background-color: #333;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.user-name {
  font-weight: 700;
}

.user-handle {
  font-size: 14px;
  margin-top: 5px;
  color: rgba(51, 51, 51, 0.651);
}

.beneficiary__tag {
  border: 1px solid orangered;
  border-radius: 50px;
  font-size: 11px;

  padding: 5px 10px;

  display: flex;
  align-self: center;
}

.testimony__content {
  margin: 20px 0;
  font-weight: 300;
  line-height: 1.5;
}

.testimony__footer {
  display: flex;
  justify-content: space-between;
}

.date {
  color: rgba(51, 51, 51, 0.63);
  font-size: 11px;
}

.platform {
  /* color: rgb(83, 83, 218); */
  text-transform: uppercase;
  text-decoration: none;
  font-size: 11px;
}

@media screen and (max-width: 425px) {
  .testimonial__card {
    width: 323px;
  }
}
