.hideModal {
  display: none;
}

.modal {
  position: fixed;
  inset: 0;
  z-index: 10001;
  background: #000000cc;
}

.animate {
  animation: animate-modal 300ms linear forwards;
}

@keyframes animate-modal {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
