.Beneficiaries-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Beneficiaries-bigscreen-container {
  display: none;
}

.texts-and-images {
  display: flex;
  justify-content: space-between;
}

.Beneficiaries-header-div {
  margin-top: 30px;
  line-height: 30px;
}

.Beneficiaries-text-div {
  margin-top: 4px;
}

.Beneficiaries-text {
  font-size: 14px;
  width: 80%;
}

.top-images {
  display: flex;
  gap: 5px;
}

.bottom-images {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.image1 {
  background-image: url('../../assets/smilingman.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 110px;
  width: 50px;
  border-radius: 0px 0px 114px 114px;
  background-position-x: center;
}

.image2 {
  background-image: url('../../assets/smilingwoman.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  height: 155px;
  width: 50px;
  border-radius: 0px 0px 114px 114px;
}

.image3 {
  background-image: url('../../assets/image3.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 120px;
  width: 50px;
  border-radius: 114px 114px 0px 0px;
  margin-top: -45px;
}

.image4 {
  background-image: url('../../assets/image4.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 75px;
  width: 50px;
  border-radius: 114px 114px 0px 0px;
}

.numbers-container {
  height: 280px;
  margin: 40px 0px 0px;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 3px 8px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.numbers {
  height: 250px;
  background: #fff;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-color: #2d3740;
  border-style: dashed;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90%;
  margin: 0 auto;
}

.top-numbers {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}

.bottom-numbers {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}

.top-left-numbers,
.top-right-numbers {
  height: 90px;
  width: 170px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bottom-left-numbers,
.bottom-right-numbers {
  height: 90px;
  width: 170px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.top-left-numbers > h3,
.top-right-numbers > h3,
.bottom-left-numbers > h3,
.bottom-right-numbers > h3 {
  font-family: 'manrope';
  font-size: 24px;
  font-weight: 700;
}

.top-left-numbers > p,
.top-right-numbers > p,
.bottom-left-numbers > p,
.bottom-right-numbers > p {
  font-family: 'manrope';
  font-size: 14px;
  margin-top: 10px;
}

.view-numbers-btn {
  margin: 40px 0;
}

@media screen and (min-width: 425px) {
  .view-numbers-btn {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
  }

  .Beneficiaries-text{
   width: 50%;
  }
}

@media screen and (min-width: 768px) {
  .image1 {
    background-image: url('../../assets/image1.png');
    height: 410px;
    width: 150px;
  }

  .image2 {
    background-image: url('../../assets/womanonheadset.jpg');
    height: 510px;
    width: 150px;
  }

  .image3 {
    height: 350px;
    margin-top: -100px;
    width: 150px;
  }
  .image4 {
    height: 250px;
    width: 150px;
  }

  .top-images,
  .bottom-images {
    gap: 20px;
  }

  .view-numbers-btn-bigscreen {
    color: white;
    font-family: 'manrope';
    font-size: 18px;
    margin-top: 50px;
  }

  .Beneficiaries-container {
    display: none;
  }

  .Beneficiaries-bigscreen-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
  }

  .Beneficiaries-bigscreen-container-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .Beneficiaries-bigscreen-container-left {
    margin-top: 50px;
  }

  .numbers-container-bigscreen {
    height: 280px;
    margin-right: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    width: 350px;
  }

  .numbers-bigscreen {
    margin: 0px 30px 0px 30px;
    height: 250px;
    background: #fff;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-color: #2d3740;
    border-style: dashed;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .top-numbers-bigscreen {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
  }

  .bottom-numbers-bigscreen {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
  }

  .top-left-numbers-bigscreen,
  .top-right-numbers-bigscreen {
    height: 90px;
    width: 150px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .bottom-left-numbers-bigscreen,
  .bottom-right-numbers-bigscreen {
    height: 90px;
    width: 150px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .top-left-numbers-bigscreen > h3,
  .top-right-numbers-bigscreen > h3,
  .bottom-left-numbers-bigscreen > h3,
  .bottom-right-numbers-bigscreen > h3 {
    font-family: 'manrope';
    font-size: 24px;
    font-weight: 700;
  }

  .top-left-numbers-bigscreen > p,
  .top-right-numbers-bigscreen > p,
  .bottom-left-numbers-bigscreen > p,
  .bottom-right-numbers-bigscreen > p {
    font-family: 'manrope';
    font-size: 14px;
    margin-top: 10px;
  }
}

@media screen and (min-width: 820px) {
  .numbers-container-bigscreen {
    width: 350px;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 3px 8px;
  }

  .Beneficiaries-text {
    font-size: 14px;
    width: 50%;
  }
}

@media screen and (min-width: 996px) {
  .numbers-container-bigscreen {
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 3px 8px;
  }
}

@media screen and (min-width: 1024px) {
  .Beneficiaries-bigscreen-container {
    padding-left: 25px;
  }

  .Beneficiaries-bigscreen-container {
    margin-left: 40px;
    margin-right: 70px;
  }

  
  .Beneficiaries-text {
    font-size: 14px;
    width: 60%;
  }
}

@media screen and (min-width: 1440px) {
  .Beneficiaries-header-div {
    margin-top: 50px;
  }

  .Beneficiaries-subheader-div {
    margin-top: 20px;
  }

  .Beneficiaries-text-div {
    margin-top: 20px;
  }

  .Beneficiaries-text {
    font-size: 20px;
    width: 50%;
  }

  .image1,
  .image2,
  .image3,
  .image4 {
    width: 200px;
  }


  .image1 {
    height: 450px;
  }

  .image2 {
    height: 550px;
  }

  .image3 {
    height: 390px;
  }
  .image4 {
    height: 290px;
  }
}
