.position {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #2d3740;
  text-align: center;
}

.alt {
  color: #ffffff;
}

.effect {
  font-size: 32px;
  font-family: 600;
  position: relative;
}

.effect::before {
  content: attr(data);
  font-size: inherit;
  width: inherit;
  height: inherit;
  text-align: inherit;
  margin-bottom: inherit;
  max-width: inherit;
  position: absolute;
  color: inherit;
  text-shadow:
    1px 0 #ffffff,
    0 -1px #ffffff,
    -1px 0 #ffffff,
    0 1px #ffffff;
  right: -4px;
}

.secondary::before {
  text-shadow:
    1px 0 #2d3740,
    0 -1px #2d3740,
    -1px 0 #2d3740,
    0 1px #2d3740;
  right: -2.5px;
}

.subheader {
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
}

@media screen and (min-width: 1440px) {
  .effect {
    font-size: 64px;
  }

  .effect::before {
    right: -6px;
  }

  .subheader {
    font-size: 32px;
  }
}

@media screen and (min-width: 1680px) {
  .effect::before {
    right: -4px;
  }
}
