.header {
  font-family: 'Poppins', sans-serif;
  text-shadow: 1px 1px 2px white;
  font-size: 32px;
  line-height: 84px;
  font-weight: 600;
}

.subheader {
  font-weight: 500;
  font-size: 18px;
  line-height: 25.5px;
  text-transform: uppercase;
}

.primary {
  color: #2D3740;
}

.secondary {
  color: #FFFFFF;
}

@media screen and (min-width:1440px) {
  .header {
    font-size: 64px;
  }

  .subheader {
    font-size: 32px;
  }
}