.main {
    position: relative;
    height: 640px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.contentContainer {
    position: relative;
    height: 100%;
    z-index: 2;
}

.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.header {
    font-family: var(--font-family-poppins);
    color: var(--white);
    font-size: 64px;
    line-height: 60px;
    text-align: center;
}

.headingText {
    color: var(--white);
    text-align: center;
}

.btnContainer {
    margin-top: 41px;
}

@media screen and (max-width:600px) {
    .main {
        height: 500px;
    }

    .header {
        font-size: 40px;
        line-height: 48px;
    }
}