.logo {
	height: 40px;
	margin-right: 8px;
}

.logo-link {
	text-decoration: none;
}

.logo-wrapper {
	display: flex;
}

.nav-cta {
	background-color: #5800FF;
	text-decoration: none;
	color: white;
	padding: .5rem .75rem;
	border-radius: 22px;
	height: 24px;
}

.nav-link {
	text-decoration: none;
	color: black;
	margin-right: .5rem;
	font-weight: bold;
	padding-bottom: .25rem;
}

.nav-link:hover {
	border-bottom: 2px solid #5800FF;
}

.nav-links {
	display: none;
}

.nav-wrapper {
	box-sizing: border-box;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 1280px;
	margin: 0 auto;
	padding: .75rem;
}

.nav-cta:hover {
	background-color: var(--primaryHover);
}


@media screen and (min-width: 560px) {
	.nav-cta {
		padding: .75rem 1.25rem;
		font-weight: 600;
	}

	.nav-link {
		margin-right: 1rem;
	}

	.nav-links {
		display: flex;
		align-items: center;
		font-size: 1.0625rem;
	}

	.nav-wrapper {
		padding: 1rem;
	}
}