.logo {
  height: 40px;
  margin-right: 8px;
}

.logo-wrapper {
  display: flex;
}

.nav-cta {
  background-color: #5800ff;
  display: flex;
  align-items: center;
  color: white;
  border-radius: 22px;
  height: 24px;
}

.nav-link {
  color: black;
  margin-right: 0.5rem;
  font-weight: bold;
  padding-bottom: 0.25rem;
}

.nav-link:hover {
  border-bottom: 2px solid #5800ff;
}

.nav-links {
  display: none;
}

.nav-wrapper {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0.75rem;
}

.nav-cta:hover {
  background-color: var(--primaryHover);
}

@media screen and (min-width: 560px) {
  .nav-cta {
    padding: 1.4rem 1.25rem;
    font-weight: 600;
  }

  .nav-link {
    margin-right: 1rem;
  }

  .nav-links {
    display: flex;
    align-items: center;
    font-size: 1.0625rem;
  }

  .nav-wrapper {
    padding: 1rem;
  }
}