.referPage {
  background: rgba(247, 247, 247, 1);
}

.donationNetwork {
  padding-top: 200px;

  display: flex;
  justify-content: center;
}

.referFormSection {
  margin: 95px 200px 0 200px;
  background-color: orange;
}

.referHeader {
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
}

.referParagraph {
  text-align: center;
  font-size: 20px;
  color: rgba(0, 0, 0, 1);

  margin-bottom: 64px;
}

.referForm {
  background: rgba(255, 255, 255, 1);
  padding: 40px 32px;
}
