.laptopStipend {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.main {
    display: flex;
    flex-direction: column;
    color: var(--edustipend-black);
    gap: 48px;
}

.footNote {
    padding-top: 14px;
    font-style: italic;
    font-size: 12px;
    font-family: 'Manrope';
    font-weight: 300;
}

@media screen and (min-width: 768px) {
    .main {
        gap: 66px;
    }

    .footNote {
        font-size: 16px;
    }

    .laptopStipend {
        gap: 30px;
    }
}