.tableContainer {
  width: 100%;
  max-width: 1030px;
  margin: 0 auto;
  height: 1101px;
  gap: 0px;
  border-radius: 12px;
  border: 1px;
  box-shadow: 0px 0px 3px 0px #1018281a;
  border: 1px solid #e4e7ec;
}

.timelinesTitle {
  background: #ffffff;
  padding: 8px 0px;
  width: 100%;
  padding: 20px 24px;
  gap: 16px;
  font-family: 'Poppins';
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  color: var(--edustipend-black);
}

.table {
  width: 100%;
}

.table thead {
  width: 100%;
  padding: 24px;
  background: #f9fafb;
  border-bottom: 1px solid #e4e7ec;
}

.table thead th {
  padding: 24px;
  font-family: 'Manrope';
  font-size: 20px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  color: #475467;
}

.table tbody td {
  font-family: 'Manrope';
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  color: #101828;
  padding: 16px 24px;
  border-bottom: 1px solid #e4e7ec;
}

.avatar {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 40px;
  background: #f9f5ff;
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #5801ff;
  margin-right: 12px;
}
