.ambassador-image {
	width: 100%;
}

.ambassador-image-wrapper {
	justify-content: center;
	margin-right: 1rem;
}

@media screen and (min-width: 420px) {
	.ambassador-image-wrapper {
		display: flex;
		justify-content: flex-end;
	}

	.ambassador-image {
		width: 80%;
	}
}